@font-face {
  font-family: "Hanken Grotesk 1";
  src: url(./assets/fonts/static/HankenGrotesk-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Hanken Grotesk 2";
  src: url(./assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Hanken Grotesk 3";
  src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);font-weight: 500;
  font-style: normal;
}
 
 * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body{
  background-color: hsl(221, 100%, 96%);
  font-family: "Hanken Grotesk 3" , serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

main{
  border: 1px solid red;
  width: 50%;
  height: fit-content;
  display: flex;
 margin-left: 25%;
 margin-top: 10%;
 padding-block: 40px;
}

.result{
  background-color: hsl(250, 91%, 63%);
  color: hsl(257, 87%, 85%);
  padding-inline: 30px;
  border: 2px solid green;
  width: 45%;
  text-align: center;
}
.bold{
  font-family: "Hanken Grotesk 1";
  font-weight: 700;
  font-style: normal;
 font-size: 3.5rem;
}



.summary{
  padding-inline: 60px;
  border: 2px solid purple;
  width: 55%;
}

